/* General */

* {
    padding: 0em;
    border: 0em;
    margin: 0em;
    text-decoration: none;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(82, 140, 255);
    margin-left: calc(13em + 10px);
}

hr {
    border: 1px solid white;
    border-color: black;
    height: 0.5em;
    margin: 1em 0; 
}

select, input {
    color: black;
    width: 200px;
    padding: 5px; 
    margin-bottom: 10px;
}

form {
    margin: 0;
}

label {
    display: inline-block;
    width: 6em;
    text-align: left;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
    padding: 10px;
}

.base {
    width: 100em;
    height: 50em;
    background-color: rgb(0, 48, 130);
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.base_cerrarpes {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Facturas */

.facturas-tabla {
    width: 100%;
    border-collapse: collapse;
}

.facturas-tabla th, .facturas-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: white;
}

.facturas-tabla th {
    background-color: #003399;
    color: white;
}

/* Sistema de mesas */

.sistemademesas-menu-emergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sistemademesas-menu-emergente h2, .sistemademesas-menu-emergente h3, .sistemademesas-menu-emergente label {
    color: white;
}

.sistemademesas-menu-emergente input[type="number"] {
    margin: 5px 0;
    width: 60px;
}

.sistemademesas-menu-emergente input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.sistemademesas-menu-emergente input[type="submit"]:hover {
    background-color: #45a049;
}

.sistemademesas-platos-pedidos {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.sistemademesas-platos-pedidos h3, .sistemademesas-platos-pedidos ul {
    color: white;
}

.sistemademesas-platos-pedidos ul {
    list-style-type: none;
    padding: 0;
}

.sistemademesas-platos-pedidos li {
    margin: 5px 0;
}
.menu-emergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-emergente h2, .menu-emergente h3, .menu-emergente label {
    color: white;
}

.menu-emergente input[type="number"] {
    margin: 5px 0;
    width: 60px;
}

.menu-emergente input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-emergente input[type="submit"]:hover {
    background-color: #45a049;
}

.platos-pedidos {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.platos-pedidos h3, .platos-pedidos ul {
    color: white;
}

.platos-pedidos ul {
    list-style-type: none;
    padding: 0;
}

.platos-pedidos li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.platos-pedidos .cerrar-plato {
    cursor: pointer;
    margin-left: 10px;
}

.mesa-contenedor {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.mesa-contenedor img {
    display: block;
    margin: 0 auto;
}

.mesa-contenedor span {
    display: block;
    margin-top: 5px;
    color: white;
}

/* Cocina */

.cocina_menu {
    width: 93.5em;
    height: 40em;
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.cocina_mesa {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.cocina_mesa:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cocina_mesa h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.cocina_mesa ul {
    list-style-type: none;
    padding: 0;
}

.cocina_mesa li {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

.cocina_boton_listo {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cocina_boton_listo:hover {
    background-color: #218838;
}

/* Nomina */

.nomina_co1 {
    float: left;
    width: 24em;
    height: 35em;
    margin-right: 1em;
}
.nomina_co2 {
    float: left;
    width: 24em;
    height: 35em;
}

.nomina_co3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nomina_base {
    width: 50em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}
.nomina_base2 {
    width: 34em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

/* Botones reutilizables */

.boton {
    background-color: #0077ff;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1em;
    margin-right: 1em;
}

.boton:hover {
    background-color: #3191ff;
}

.boton_pequeño {
    background-color: #0077ff;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton_pequeño:hover {
    background-color: #3191ff;
}

.boton_borrar {
    background-color: #ff2424;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1em;
    margin-right: 1em;
}

.boton_borrar:hover {
    background-color: #9c0000;
}

.boton_borrarpequeño {
    background-color: #ff2424;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1em;
    margin-right: 1em;
}

.boton_borrarpequeño:hover {
    background-color: #9c0000;
}

.selec_acceder {
    background-color: hsl(0, 0%, 25%);
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1em;
    margin-right: 1em;
}

/* Menu */

.menu_menu1 {
    width: 43.5em;
    height: 40em;
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.menu_menu2 {
    width: 43.5em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

/* Reservas */

.reservas_menu1 {
    width: 27em;
    height: 40em;
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.reservas_menu2 {
    width: 60em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

/* Empleados */

.empleado_detalle {
    display: flex;
    flex-wrap: wrap;
}

.detalle_izquierda {
    width: 40%;
    margin-right: 5%;
    text-align: left;
    font-weight: bold;
    margin-top: 0.7em;
}

.detalle_derecha {
    width: 55%; 
}

.empleado_menu2 {
    width: 27em;
    height: 40em;
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.empleado_menu3 {
    width: 60em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.empleado_botones {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 21em;
}

/* Configuracion */

.config_base {
    box-sizing: border-box;
    width: 90em;
    height: 47em;
    background-color: rgb(0, 48, 130);
    margin: 2em;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config_base2 {
    width: 57em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.config_base3conbarra {
    width: 40em;
    overflow-y: auto;
    height: 26em;    
    color: white;
    float: left;
    margin: 2em;
    padding: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
}
.config_base3 {
    width: 40em;
    height: 26em;    
    color: white;
    float: left;
    margin: 2em;
    padding: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
}

.config_base4 {
    width: 100%;
    float: left;
    height: 4em;
    color: white;
}

.config_base5 {
    width: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: white;
}

.config_bmenu {
    width:12em;
    float: left;
    margin: 1em;
    height: 11.8em;
    color: white;
    border-radius: 20px;
}
.config_p {
    text-align: center;
    font-size: 1.4em;
    background-color: inherit;
}

/* Seleccion de usuario */

.selec_cuadrado {
    width: 70em;
    height: 41em;
    background-color: rgb(0, 48, 130);
    margin: 2em;
    float: left;
    border: 2px rgb(255, 255, 255) solid;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.5);
}

.selec_titulo {
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.select_caja2 {
    width: 70em;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selec_base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selec_caja1 {
    width: 100%;
    height: 6em;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selec_cajaus {
    width: 14em;
    height: 12em;
    float: left;
    margin: 1em;
}

.selec_name {
    width: 100%;
    height: 2em;
    background-color: rgb(226, 226, 43);
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selec_name2 {
    width: 100%;
    height: 4em;
    background-color: rgb(226, 226, 43);
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selec_centrar {
    width: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mi perfil */

.miperfil_h1 {
    text-align: center;
    background-color: inherit;
    font-size: 2em;
    margin: 0.1em;
}

.miperfil_base {
    width: 57em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}
.miperfil_base2 {
    width: 57em;
    margin-top: 2em;
    height: 40em; 
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.miperfil_base3 {
    width: 27em;
    float: left;
    height: 30em; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

.miperfil_espaciobotones {
    width: 27em;
    float: left;
    height: 10em; 
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.miperfil_boton {
    background-color: #0077ff;
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1em;
    margin-right: 1em;
}

.perfil_cuadrado {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    background-color: rgb(0, 48, 130);
    float: left;
    margin: 2em;
}

/* Mesas */

.mesa_cuadrado {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    background-color: rgb(0, 48, 130);
    float: left;
    margin: 2em;
}

.mesa_menu1 {
    width: 40%;
    height: 50%;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.mesa_menu2 {
    width: 60%;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
    background-color: rgb(0, 48, 130);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mesa_menu3 {
    width: 20em;
    height: 40em;    
    color: white;
    background-color: inherit;
    float: left;
    border: 2px solid white;
    margin: 2em;
    padding: 1em;
}

.mesa_h1 {
    text-align: center;
    background-color: inherit;
    margin: 1em;
}

.mesa_input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 12em;
    height: 2em;
    border: 0.2em solid rgb(71, 71, 71);
}

.mesa_base {
    box-sizing: border-box;
    width: 90em;
    height: 47em;
    background-color: rgb(0, 48, 130);
    float: left;
    margin: 2em;
}

/* Barra de navegación */

.cuadradoderecha {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 48, 130);
    width: 13em;
    height: 100vh;
    z-index: 9999;
}

.nav_miperfil {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 13em;
    height: 7vh;
    z-index: 9999;
    float: left;
}
.nav_miperfil2 {
    bottom: 0;
    left: 0;
    width: 4em;
    height: 7vh; 
    z-index: 9999;
    float: left;
}
.nav_miperfil3 {
    bottom: 0;
    left: 0;
    width: 9em;
    height: 7vh;
    z-index: 9999;
    float: left;
}
.nav_miperfil4 {
    bottom: 0;
    left: 0;
    font-size: 0.9em;
    color: white;
    margin-left: 0.5em;
    width: 9em;
    height: 3.5vh;
    z-index: 9999;
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav_perfil-imagen {
    width: 100px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.menu, .menuselec {
    width: 100%;
    height: 3em;
    color: white;
    background-color: inherit;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuimg {
    width: 100%;
    height: 6em;
    color: white;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    background-color: inherit;
    align-items: center;
    justify-content: center;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.menuselec {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: inherit;
}

/* Imagen de categoria adaptada*/

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Adaptacion a moviles y tablets */
@media only screen and (max-width: 768px) {
    body {
        margin-left: 0;
    }

    .base, .config_base, .config_base2, .mesa_base {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }

    .cuadradoderecha {
        position: relative;
        width: 100%;
        height: auto;
    }

    .nav_miperfil, .nav_miperfil2, .nav_miperfil3, .nav_miperfil4 {
        width: 100%;
        height: auto;
        float: none;
        text-align: center;
    }

    .menu_menu1, .menu_menu2, .reservas_menu1, .reservas_menu2, .empleado_menu2, .empleado_menu3 {
        width: 100%;
        height: auto;
        float: none;
        margin: 1em 0;
    }

    .config_base3, .config_base3conbarra {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }

    .selec_cuadrado, .perfil_cuadrado, .mesa_cuadrado {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }

    .selec_caja1, .selec_caja2, .selec_name, .selec_name2, .selec_centrar {
        width: 100%;
        height: auto;
    }

    .empleado_detalle {
        display: block;
        width: 100%;
    }

    .detalle_izquierda, .detalle_derecha {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .img-responsive {
        max-width: 50%;
        height: auto;
    }

    h1, h2, h3 {
        font-size: 1.2em;
    }

    label, .menu, .menuselec {
        font-size: 0.8em;
    }

    .boton, .boton_pequeño, .boton_borrar, .boton_borrarpequeño, .selec_acceder {
        width: 100px;
        height: 35px;
        font-size: 0.8em;
    }
}

/* Dias libres */

.diaslibres_nuevo_estado {
    padding: 5px;
    width: 4em;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.diaslibres_actualizar {
    background-color: #4CAF50;
    border: none;
    width: 4em;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.diaslibres_actualizar:hover {
    background-color: #45a049;
}
